<footer>
    <section class="flex justify-evenly items-center ml-[270px] w-[80%] rounded-[20px] h-[180px] bg-[#000]">
        <p class="text-[white] text-[40px] leading-[45px]"><strong>STAY UPTO DATE ABOUT OUR LATEST OFFERS</strong></p>
        <div class="flex flex-col gap-4">
            <input type="text" class="bg-[white] w-[349px] h-[46px] pl-8 rounded-[62px]" placeholder="Enter your email address" name="" id="">
            <input type="button" class="bg-[white] w-[349px] h-[46px] rounded-[62px]" value="Subscribe to Newsletter" name="" id="">
        </div>
    </section>

    <section>
        <div class="flex justify-evenly">
            <div class="w-[300px]">
                <p class="text-[33.45px]"><strong>SHOP.CO</strong></p>
                <p>We have clothes that suits your style and which you’re proud to wear. From women to men.</p>
            </div>
            <div>
                <p><strong>COMPANY</strong></p>
                <p>About</p>
                <p>Features</p>
                <p>Works</p>
                <p>Career</p>
            </div>
            <div>
                <p><strong>HELP</strong></p>
                <p>Customer Support</p>
                <p>Delivery Details</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
            </div>
            <div>
                <p><strong>FAQ</strong></p>
                <p>Account</p>
                <p>Menage Deliveries</p>
                <p>Orders</p>
                <p>Payments</p>
            </div>
            <div>
                <p><strong>RESOURCES</strong></p>
                <p>Free eBooks</p>
                <p>Develoment Tutorial</p>
                <p>How to - Blog</p>
                <p>Youtube Playlist</p>
            </div>
        </div>
        <hr>
        <div class="flex justify-between mt-4">
            <p>Shop.co © 2000-2023, All Rights Reserved</p>
            <div class="flex">
                <img src="VISA.svg" alt="">
                <img src="ELO.svg" alt="">
                <img src="PAYPAL.svg" alt="">
                <img src="Apple.svg" alt="">
                <img src="GPLAY.svg" alt="">
            </div>
        </div>
    </section>
</footer>