<section class="flex mt-10">
    <div class="w-[50%]">
        @for (product of member?.product; track member?.id) {
        <div class="w-[50%] flex mt-2 rounded-[12px] border">
            <div class="pl-12 w-[100%] ">
                <img src="" alt="">
                <p class="text-[20px] font-bold">{{product.nameProduct}}</p>
                <p class="text-[14px] font-medium">Size: {{product.size}}</p>
                <p class="text-[14px] capitalize font-medium">Color: {{product.colors}}</p>
                <p id="teste" class="text-[24px]  font-bold">${{product.price}}</p>
            </div>
            <div>
                <button (click)="removeProduct(product.id)"><img src="Delete.svg" alt="delete"></button>
                <div class="flex justify-around items-center">
                    <button>-</button>
                    <p>{{product.quantidade}}</p>
                    <button>+</button>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="w-[50%]">
        <p>Order Summary</p>
        <p>Delivery</p>
        <hr>
        <p>{{member?.totalPrice}}</p>
    </div>
</section>