<section class="p-[40px]">
    <article class="w-[600px] flex flex-col gap-8">
        <h1 class="text-[64px] leading-[64px]"><strong>FIND CLOTHES THAT MATCHES YOUR STYLE</strong></h1>
        <p class="text-[16px] leading-[22px]">Browse through our diverse range of meticulously crafted garments,
            designed to bring out your individuality
            and cater to your sense of style.</p>
        <button class="w-[210px] h-[52px] bg-[#000] rounded-[64px] text-[16px] text-[#fff]">Shop Now</button>
        <div class="flex gap-12">
            <div>
                <h3 class="text-[40px]"><strong>200+</strong></h3>
                <p class="text-[16px] leading-[22px]">International Brands</p>
            </div>
            <div>
                <h3 class="text-[40px]"><strong>2,000+</strong></h3>
                <p class="text-[16px] leading-[22px]">High-Quality Products</p>
            </div>
            <div>
                <h3 class="text-[40px]"><strong>30,000+</strong></h3>
                <p class="text-[16px] leading-[22px]">Happy Customers</p>
            </div>
        </div>
    </article>
</section>

<div class="w-[100%] h-[122px] bg-[#000]">
    <figure class="flex h-[100%] justify-around items-center">
        <img src="VERSACE.svg" alt="">
        <img src="ZARA.svg" alt="">
        <img src="GUCCI.svg" alt="">
        <img src="PRADA.svg" alt="">
        <img src="CalvinKlein.svg" alt="">
    </figure>
</div>

<section>
    <h3><strong>NEW ARRIVALS</strong></h3>


    <!--Cards recentes-->
    <button>View All</button>
</section>


<section>
    <h3><strong>TOP SELLING</strong></h3>

    <!--Cards Mais vendidos-->
    <button>View All</button>
</section>

<section>
    <h3><strong>BROWSE BY DRESS STYLE</strong></h3>

    <div>
        <p><strong>Casual</strong></p>
        <img src="" alt="">
    </div>
    <div>
        <p><strong>Formal</strong></p>
        <img src="" alt="">
    </div>
    <div>
        <p><strong>Party</strong></p>
        <img src="" alt="">
    </div>
    <div>
        <p><strong>Gym</strong></p>
        <img src="" alt="">
    </div>
</section>

<section>
    <p>OUR HAPPY CUSTOMERS</p>
    <p></p>
    <p></p>

    <!-- Card Depoimentos -->
</section>
